header.header
    .header_social
        include ./social-icons.pug
       
    .header_logo
        h1.logo Hipsum Blog
    .header_search 
        .header-search-icon
            img(src="./img/icons/search.svg", alt="Search" width="26")
        .header-search-subscribe
            button.button-rounded Subscribe