.pagination
    .pagination_recent 
        a(href="#").pagination_text-link recent posts    
    .pagination_current 
        .pagination_current-active 1
        a(href="#").pagination_current-link 2
        a(href="#").pagination_current-link 3 
    .pagination_older 
        a(href="#").pagination_text-link older posts